body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style-type: none;
}

/* Pantalla Home*/

#loadingHome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#home {
  height: 100vh;
}

#texto {
  background-color: #98d6c5; /* cambiar color del fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 89vh;
  padding-left: 10%;
  padding-right: 10%;
}

#bottomButtons {
  background-color: #679beb; /* cambiar color de la barra */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
}

/* Pantalla Settings*/

#settings {
  background-color: #eeeeee;
}

#header {
  background-color: #aaaaaa;
  padding: 4%;
}

.option {
  display: flex;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-inline: 8%;
}
