body {
  font-family: Montserrat, sans-serif;
}

ul {
  list-style-type: none;
}

#loadingHome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#home {
  height: 100vh;
}

#texto {
  /*Para cambiar el color del fondo
  */
  background-color: #98d6c5; /* cambiar color #98d6c5 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 89vh;
  padding-left: 10%;
  padding-right: 10%;
}

#bottomButtons {
  /*Para cambiar el color de la barra
  */
  background-color: #679beb; /* cambiar color */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11vh;
}
